
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800;1000&family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto';
    scroll-behavior: smooth;
}
input.form-control{
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #00718C;
}

.bg-section-puls{
    background: #F97C22;
    color: white;
}
.bg-category-section{
    background: #01809E1F;
}
body{
    background: #F5F5F5;
}
.banner-head{
    display: flex;
    flex-direction: row;
    gap: 3px;
    width: 100%;
}
.banner-head .megabanner{
    min-width: 755px;
}
.banner-head .child-banner{
    min-width: auto;
}

input.form-control:active{
    box-shadow: none;
    border: none;
}

input.form-control:focus{
    box-shadow: none;
}

.plant-info{
    width: 100%;
    background: #005A6F;
    padding: 4px;
    color: white;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
.bg-mang{
    background: linear-gradient(180deg, #005A6F 0%, #00718C 75%, #01809E 100%);
}

section.mang-head{
    width: 60%;
}
.mang-head h4{
    font-family: 'Nunito';
    font-size: 36px;
    color: #015E74;
    font-weight: bold;
}
.mang-head h4:nth-of-type(2){
    font-weight: 200;
    font-size: 30px;
}
.mang-head h5{
    font-family: 'Nunito';
    font-size: 27px;
    color: #015E74;
}
.dash{
    border: 1px solid #DFDFDF;
    width: 100%;
    height: 0px;
}
.footer-mang{
    width: 100%;
    color: white;
    min-height: 50vh;
    background: linear-gradient(180deg, #005A6F 0%, #00718C 75%, #01809E 100%);
    padding-top: 12px;
}

.button-top-scrool{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    opacity: 0;
    transition: 0.5s ease-in-out;
    transform: translateY(30px);
    text-align: center;
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 100%;
    background-color: orange;
    color: white;
}

.body-panel-produk{
    display: flex;
    flex-direction: column;
}
.body-panel-produk span{
    color: #00718C;
    font-size: 12px;
}
.body-panel-produk h4{
    font-weight: bold;
    font-size: 12px;
    color: #00718C;
}
.body-panel-produk span:nth-of-type(2){
    font-size: 10px;
    color: #F97C22;
    font-weight: bold;
}

.button-top-scrool.actived{
    opacity: 1;
    transform: translateY(0px);
}
.tops{
    position: absolute;
    top: 0;
    right: -1;
}
.bottoms{
    position: absolute;
    bottom: 0;
    right: -2;
}
.footer-mang{
    width: 100%;
    height: 80vh;
    background: linear-gradient(180deg, #005A6F 0%, #00718C 75%, #01809E 100%);
}
.detail-panel{
    margin-top: 25px;
    display:  flex;
    flex-direction: row;
    gap: 10px;
}
.detail-panel .info-slide-images{
    flex: 25%;
    inline-size: auto !important;
}
.detail-panel .panel-info{
    flex: 50%;
    inline-size: auto !important;
}

.detail-panel .panel-action{
    flex: 25%;
    inline-size: auto !important;
}
.slides-info-img{
    position: -webkit-sticky;
    position: sticky;
    height: max-content;
    top: 75px
}

.splide__track--nav >.splide__list>.splide__slide.is-active{
    border: 3px solid #01809E;
}
.breadcrumb-item + .breadcrumb-item::before{
    content: var(--bs-breadcrumb-divider, ">");
}
hr{
    margin-top: 30px;
    border: 1.5px solid #b5b2b2;
}
.mang-panel{
    display: block;
    box-sizing: border-box;
}
.mang-panel .text-product{
    font-size: 17px;
    color: #00718C;
    font-weight: bold;
}
.mang-panel strong{
    text-decoration: line-through;
    color: red;
}
.mang-panel h1{
    color: #00718C;
    font-size: 30px;
}
.chev{
    position: relative;
}

.chev::before{
    position: absolute;
    content: '>';
    right: -30px;
    transform: translateY(-5%);
}
.chev.auto::before{
    right: 22%
}
.color-mang{
    color: #00718C;
    font-size: 16px;
    font-weight: bold;
}
.action-draft{
    display: flex;
    flex-direction: row;
    border: 1px solid #D9D9D9;
    border-radius: 7px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.action-draft span{
    padding: 5px;
    width: 30px;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 7px 0px 0px 7px;
}
.action-draft span:nth-of-type(2){
    border-radius: 0px 7px 7px 0px;
}
.action-draft div{
    padding: 5px;
    text-align: center;
}
.button-mang{
    width: 100%;
    font-size: 12px;
    padding: 7px;
    border-radius: 6px;
    border: none;
    text-align: center;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: #00B2DD;
}
.button-mang.outlines{
    width: 100%;
    padding: 7px;
    font-size: 12;
    border-radius: 6px;
    text-align: center;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: white;
    border: 1px solid #00B2DD;
    color: #00B2DD;
    background-color: transparent;
}
.mang-sharing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}
.mang-sharing .content{
    padding: 10px;
}
.content .fnt{
    font-size: 13px;
}